@{
    ViewBag.Title = "JRTravel | Ver Reservaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>
<span class="con dark super">Mis Reservaciones</span></h1>
<div class="bluePanel full">
</div>