@{
    ViewBag.Title = "JRTravel | Registro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>
    <span class="con dark super">Registrarse</span></h1>
<form method="post" action="" onsubmit="return validarRegistro();" >
<table style="width: 400px; margin: auto">
    <tr>
        <td>
            <label id="lblCorreo">
                Correo:</label>
        </td>
        <td>
            <input id="txtCorreo" type="text" placeholder="escriba su correo electronico" width="210px" />
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td>
            <label id="lblNombreUsuario">
                Nombre Usuario:</label>
        </td>
        <td>
            <input id="txtNombreUsuario" type="text" placeholder="escriba su nombre de usuario" />
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td>
            <label id="lblcontrase&ntilde;a">
                contrase&ntilde;a:
            </label>
        </td>
        <td>
            <input id="txtClave" type="password" placeholder="escriba su contrase&ntilde;a" />
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td>
            <label id="lblNombres">
                Nombre(s):</label>
        </td>
        <td>
            <input id="txtNombres" type="text" placeholder="escriba su(s) nombre(s)" />
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td>
            <label id="lblApellidos">
                Apellidos(s):</label>
        </td>
        <td>
            <input id="txtApellidos" type="text" placeholder="escriba su(s) apellido(s)" />
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button id="btnRegistrar" class="btn" onclick="submit">
                Registrarse</button>
        </td>
    </tr>
</table>
</form>
<script>
    ("#txtCorreo").click(function () {
        $.post("Registro.cshtml", function (data) {
            alert(data);
        })
    });
</script>
