html
{
    background-color: #F0F0F0;
}
body
{
    width: 70%;
    margin: auto;
    border-radius: 6px;
    box-shadow: 2px 2px 8px 2px gray;
    margin-top: 16px;
    background-color: white;
   border-left: 1px solid black;
    border-right: 1px solid black;
}
section.content
{
    min-height: 400px;
    background-color: white;

}
header
{
    border: 1px solid black;
}
footer
{
    text-align: center;
    border: 1px solid black;
}
div.buttons, header, .dropdown, .button
{
    margin: auto;
    text-align: center;
}
div.buttons
{
    width: 800px;
}
