@model AirlineApp.Models.clases

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>clases</legend>

    <div class="display-label">descripcion</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.descripcion)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.codigo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
